html {
	/*cursor: none;*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Candara', 'Oswald', sans-serif;
	background-image: url('../media/caobg.png');
	color: white;
}

.botWarning {
	display: none;
	position: absolute;
	top: 40%;
	left: 25%;

	background-color: red;
	border-radius: 10px;
	width: 50%;
	height: 200px;
	line-height: 200px;
	font-size: 35px;
}

.spacing {
	padding-bottom: 5px;
}

.spacingBig {
	padding-bottom: 10px;
}

.userbubble {
	width: 150px;
}

.user {
	width: 100px;
	background-color: rgba(0, 0, 0, 0.6);
	margin: 0 auto;
	border-radius: 5px;
}

.bubble {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	outline: 3px solid black;
	opacity: 0.3;
	transition: 			box-shadow 0.3s, outline 0.3s, opacity 0.2s;
	-webkit-user-select: 	box-shadow 0.3s, outline 0.3s, opacity 0.2s;
	-moz-user-select: 		box-shadow 0.3s, outline 0.3s, opacity 0.2s;
	-khtml-user-select: 	box-shadow 0.3s, outline 0.3s, opacity 0.2s;
	-ms-user-select: 		box-shadow 0.3s, outline 0.3s, opacity 0.2s;
}

.imageSize {
	width: 150px;
	height: 150px;
}

.bubbleGlow {
	box-shadow: 0 0 30px 5px #0f5236;
	opacity: 1;
	outline: 3px solid rgb(15, 82, 54);
}

.userPosition {

	width: 150px;
	height: 150px;
}

.pos1 {
	position: absolute;
	display: none;
	top: 20px;
}

.pos2 {
	position: absolute;
	display: none;
	top: 210px;
}

.pos3 {
	position: absolute;
	display: none;
	top: 400px;
}

.pos4 {
	position: absolute;
	display: none;
	top: 590px;
}

.pos5 {
	position: absolute;
	display: none;
	top: 780px;
}

.pos6 {
	display: none;
	position: absolute;
	top: 20px;
	left: 190px;
}

.pos7 {
	display: none;
	position: absolute;
	top: 210px;
	left: 190px;
}

.pos8 {
	display: none;
	position: absolute;
	top: 400px;
	left: 190px;
}

.pos9 {
	display: none;
	position: absolute;
	top: 590px;
	left: 190px;
}

.pos10 {
	display: none;
	position: absolute;
	top: 780px;
	left: 190px;
}
